!fish/*.fish

.org.chromium.Chromium.jefIeQ
BraveSoftware
Cypress
Element
GIMP
Kvantum
Notepadqq
QtProject.conf
Slack
Thunar
VirtualBox/
autostart
azote
balena-etcher-electron
bleachbit
cef_user_data
cmus
coc
configstore
copyq
dconf
deluge
dunst
evolution
falkon
fish
flameshot
flashfocus
galculator
garuda
geany
geary
goa-1.0
gtk-2.0
gtk-3.0
htop
inkscape
ksnip
libreoffice
micro
mimeapps.list
modem-manager-gui
mpv
ncmpcpp
neofetch
nitrogen
nvim
okularpartrc
okularrc
omf
pamac
pavucontrol.ini
polybar
psd
pulse
pulseaudio-ctl
qpdfview
qt5ct
smplayer
stalonetray
strawberry
transmission
user-dirs.dirs
user-dirs.locale
variety
vlc
wlogout
xarchiver
xfce4
